# Ignore everytding in tdis directory
*
# Except tdis file
!.gitignore<style type="text/css">body{margin-left:3cm; line-height:7.83mm; color:red;} p{margin:0px;} td:nth-child(even) {padding-right:80px;} td:nth-child(odd) {padding-right:30px;} th {font-weight: normal;} th:nth-child(even) {padding-right:55px;} th:nth-child(odd) {padding-right:30px;}</style>